-- CreateEnum
CREATE TYPE "reserva_estado" AS ENUM ('pendiente', 'confirmada', 'cancelada', 'entregada');

-- CreateTable
CREATE TABLE "categorias" (
    "id_categoria" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(50) NOT NULL,
    "descripcion" TEXT,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "categorias_pkey" PRIMARY KEY ("id_categoria")
);

-- CreateTable
CREATE TABLE "comercios" (
    "id_comercio" BIGSERIAL NOT NULL,
    "id_usuario" BIGINT NOT NULL,
    "nombre_negocio" VARCHAR(100) NOT NULL,
    "telefono" VARCHAR(20),
    "direccion" VARCHAR(200),
    "latitud" DECIMAL(9,6),
    "longitud" DECIMAL(9,6),
    "categoria" VARCHAR(50),
    "fecha_registro" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estado" BOOLEAN NOT NULL DEFAULT true,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "comercios_pkey" PRIMARY KEY ("id_comercio")
);

-- CreateTable
CREATE TABLE "notificaciones" (
    "id_notificacion" BIGSERIAL NOT NULL,
    "id_usuario" BIGINT NOT NULL,
    "titulo" VARCHAR(100),
    "mensaje" TEXT,
    "tipo" VARCHAR(20),
    "fecha_envio" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "leido" BOOLEAN NOT NULL DEFAULT false,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notificaciones_pkey" PRIMARY KEY ("id_notificacion")
);

-- CreateTable
CREATE TABLE "productos" (
    "id_producto" BIGSERIAL NOT NULL,
    "id_comercio" BIGINT NOT NULL,
    "id_categoria" BIGINT NOT NULL,
    "nombre" VARCHAR(100) NOT NULL,
    "descripcion" TEXT,
    "precio_base" DECIMAL(10,2) NOT NULL,
    "precio_actual" DECIMAL(10,2),
    "fecha_vencimiento" DATE,
    "cantidad_disponible" INTEGER,
    "imagen_url" TEXT,
    "fecha_publicacion" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estado" BOOLEAN NOT NULL DEFAULT true,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "productos_pkey" PRIMARY KEY ("id_producto")
);

-- CreateTable
CREATE TABLE "reservas" (
    "id_reserva" BIGSERIAL NOT NULL,
    "id_usuario" BIGINT NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "total" DECIMAL(10,2) NOT NULL,
    "codigo_validacion" VARCHAR(12) NOT NULL,
    "estado" "reserva_estado" NOT NULL DEFAULT 'pendiente',
    "fecha_reserva" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ventana_retiro_inicio" TIMESTAMPTZ(6),
    "ventana_retiro_fin" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "reservas_pkey" PRIMARY KEY ("id_reserva")
);

-- CreateTable
CREATE TABLE "usuarios" (
    "id_usuario" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(100) NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "contrasena_hash" TEXT NOT NULL,
    "fecha_nacimiento" DATE,
    "foto_perfil" TEXT,
    "fecha_registro" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estado" BOOLEAN NOT NULL DEFAULT true,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id_usuario")
);

-- CreateIndex
CREATE INDEX "idx_comercios_id_usuario" ON "comercios"("id_usuario");

-- CreateIndex
CREATE INDEX "idx_productos_estado_fecha_pub" ON "productos"("estado", "fecha_publicacion" DESC);

-- CreateIndex
CREATE INDEX "idx_productos_fecha_venc" ON "productos"("fecha_vencimiento");

-- CreateIndex
CREATE INDEX "idx_productos_id_categoria" ON "productos"("id_categoria");

-- CreateIndex
CREATE INDEX "idx_productos_id_comercio" ON "productos"("id_comercio");

-- CreateIndex
CREATE UNIQUE INDEX "reservas_codigo_validacion_key" ON "reservas"("codigo_validacion");

-- CreateIndex
CREATE INDEX "idx_reservas_id_producto" ON "reservas"("id_producto");

-- CreateIndex
CREATE INDEX "idx_reservas_id_usuario" ON "reservas"("id_usuario");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_email_key" ON "usuarios"("email");

-- AddForeignKey
ALTER TABLE "comercios" ADD CONSTRAINT "comercios_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "notificaciones" ADD CONSTRAINT "notificaciones_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_id_categoria_fkey" FOREIGN KEY ("id_categoria") REFERENCES "categorias"("id_categoria") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_id_comercio_fkey" FOREIGN KEY ("id_comercio") REFERENCES "comercios"("id_comercio") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservas" ADD CONSTRAINT "reservas_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservas" ADD CONSTRAINT "reservas_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

